### XGBoost

In [1]:
from numpy import loadtxt
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np
import scipy as sp
import seaborn as sns
import matplotlib as mp
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
url_train = './Dataset/development_dataset.csv'
#url_train = 'itrImputed.csv' #traing dataset
url_dict = './Dataset/Data_Dictionary.xlsx' #data dictionary
#url_lead = 'itrImputedlead.csv' 
url_lead = './Dataset/leaderboard_dataset.csv'

In [3]:
## making dataframe
#df_raw = pd.read_csv(url_raw)
df_train = pd.read_csv(url_train)
df_dict = pd.read_excel(url_dict)
df_lead = pd.read_csv(url_lead)
#df_lead_raw = pd.read_csv(url_lead_raw)

In [4]:
df_train = df_train.replace(to_replace = '.', value =np.nan)
df_lead = df_lead.replace(to_replace = '.', value =np.nan)

In [5]:
#df_train = df_train.iloc[:,1:]
df_train.head()

,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7,VAR8,VAR9,VAR10,...,VAR12,VAR13,VAR14,VAR15,VAR16,VAR17,VAR18,VAR19,VAR20,VAR21
0,1,828.235294,0.138889,321.428571,625.911006,1.818182,1.081550,198.113469,NaN,58.632548,...,100.083403,1.0,1,1.0,1.540594,NaN,1,0,100.104991,Low
1,2,911.764706,0.027778,NaN,611.574748,8.181818,1.344479,198.600020,22.086661,NaN,...,15.012510,NaN,1,NaN,1.614613,NaN,0,1,146.654045,High
2,3,962.352941,0.833333,35.714286,615.825381,8.181818,0.720796,197.267767,NaN,58.632548,...,210.175146,10.0,1,10.0,1.044599,NaN,0,0,98.249570,Medium
3,4,892.941177,NaN,NaN,638.076431,9.090909,0.820218,197.355744,4.363431,58.632548,...,NaN,NaN,1,NaN,1.145729,NaN,1,0,140.862306,Low
4,5,914.117647,0.083333,NaN,626.514988,5.181818,1.372928,198.790477,85.938202,58.632548,...,210.175146,NaN,NaN,NaN,1.558341,NaN,1,0,101.268503,High

In [6]:
lead_key = df_lead['VAR1'].tolist()
#print(lead_key)

In [7]:
#df_lead = df_lead.iloc[:,1:]
df_lead.head()

,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7,VAR8,VAR9,VAR10,VAR11,VAR12,VAR13,VAR14,VAR15,VAR16,VAR17,VAR18,VAR19,VAR20
0,1,878.823529,0.833333,821.428571,620.835806,5.181818,0.833974,197.500187,NaN,58.632548,9.433609,40.033361,10.000000,2,10.000000,1.212784,1000.00,1,0,48.099828
1,2,891.764706,0.138889,357.142857,614.092215,3.909091,0.595187,197.016843,253.896073,58.632548,10.144612,NaN,5.666667,1,7.600000,1.004907,992.55,0,0,104.018933
2,3,955.294118,0.055556,NaN,611.574748,6.363636,0.918652,197.660051,22.086661,NaN,0.583494,NaN,6.000000,1,6.000000,1.157115,NaN,1,1,120.586919
3,4,831.764706,0.111111,250.000000,617.740617,6.545455,2.383924,200.526288,NaN,48.539365,NaN,NaN,NaN,3,NaN,2.350858,NaN,0,1,168.592083
4,5,957.647059,0.166667,NaN,623.426802,NaN,0.711240,197.151458,5.013668,49.379748,0.255712,NaN,13.333333,1,13.333333,1.171551,NaN,0,1,109.204819

### Scaling

In [8]:
from sklearn.preprocessing import StandardScaler
#sc_X = StandardScaler()
# X_train = sc_X.fit_transform(X_train)
# X_test = sc_X.transform(X_test)
#X_lead = sc_X.transform(X_lead)
#X_oth = sc_X.fit_transform(X_oth)
#sc_y = StandardScaler()
#y_train = sc_y.fit_transform(y_train.reshape(-1,1))

In [9]:
def percentile_linear(columns):
    size = len(columns)-1
    y = columns.rank(method='min').apply(lambda x: (x-1)/size)
    return y

In [10]:
# for i in df_train.columns[1:-1]:
#     df_train[i] = percentile_linear(df_train[i])

In [11]:
# for i in df_lead.columns[1:]:
#     df_lead[i] = percentile_linear(df_lead[i])

In [12]:
#df_train.columns

In [13]:
#df_lead.head()

#### Dropping features

In [14]:
drop_list1 = ['VAR5','VAR11','VAR17']
drop_list2 = ['VAR19','VAR18']
drop_list3 = ['VAR17'] #9 14

In [ ]:
df_train = df_train.drop(drop_list3,axis=1)
df_lead = df_lead.drop(drop_list3,axis=1)

In [ ]:
df_train.head()

In [ ]:
df_lead.head()

### Label Encoding

In [ ]:
X = df_train.iloc[:, 1:-1].values
y = df_train.iloc[:, -1].values

X_lead = df_lead.iloc[:, 1:].values
y

In [ ]:
# label Encoding
#from sklearn.preprocessing import LabelEncoder, OneHotEncoder

#labelencoder_X = LabelEncoder()
#X[:, 11] = labelencoder_X.fit_transform(X[:, 11])

#labelencoder_y = LabelEncoder()
#y = labelencoder_y.fit_transform(y)

In [ ]:
y

### Class Imbalance

In [ ]:
count_classes = pd.value_counts(df_train['VAR21'], sort = True)
count_classes.plot(kind = 'bar', rot=0)
plt.title("Credit Card limit")
#plt.xticks(range(2), LABELS)
plt.xlabel("Class")
plt.ylabel("Frequency")

In [ ]:
from collections import Counter
from imblearn.combine import SMOTETomek
from imblearn.under_sampling import NearMiss
from imblearn.over_sampling import RandomOverSampler

In [ ]:
# Implementing Oversampling for Handling Imbalanced 
#smk = SMOTETomek(random_state=42)
#X_res,y_res=smk.fit_sample(X,y)

In [ ]:
#X_res.shape,y_res.shape

In [ ]:
from collections import Counter
print('Original dataset shape {}'.format(Counter(y)))
#print('Resampled dataset shape {}'.format(Counter(y_res)))

### Splitting

In [ ]:
#X_lead = sc_X.transform(X_lead)
X_train.shape

#### Fitting Model & Evaluation

In [ ]:
from sklearn.metrics import f1_score,confusion_matrix
from sklearn.metrics import accuracy_score
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

In [ ]:
# fit model no training data
modelxgb = XGBClassifier()

In [ ]:
modelxgb.fit(X_train, y_train)

In [ ]:
# make predictions for test data
y_pred = modelxgb.predict(X_test)
predictions = [round(value) for value in y_pred]

In [ ]:
y_pred

In [ ]:
#predictions

In [ ]:
# evaluate predictions
accuracy = accuracy_score(y_test, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

In [ ]:
cm = confusion_matrix(y_test,y_pred)
sns.heatmap(cm,annot=True,fmt="d")

### K-Fold CV

In [ ]:
modelxgbkfold = XGBClassifier()

In [ ]:
kfold = KFold(n_splits=5, random_state=7)
result = cross_val_score(modelxgbkfold, X_train, y_train, cv=kfold, scoring='accuracy')

In [ ]:
result.mean()

#### Leaderboard Prediction

In [ ]:
y_lead = modelxgb.predict(X_lead)

In [ ]:
y_lead_ = y_lead.tolist()

In [ ]:
len(lead_key)

In [ ]:
len(y_lead_)

In [ ]:
ylead = labelencoder_y.inverse_transform(y_lead_)

In [ ]:
ylead

In [ ]:
n_count_classes = pd.value_counts(ylead, sort = True)
n_count_classes.plot(kind = 'bar', rot=0)
plt.title("Credit Card limit")
#plt.xticks(range(2), LABELS)
plt.xlabel("Class")
plt.ylabel("Frequency")

In [ ]:
dfxyz = pd.DataFrame(ylead,lead_key)

In [ ]:
dfxyz.head()

In [ ]:
#dfxyz.to_csv('Anonymous_IITRoorkee_9.csv',header=False)

#### Feature Importance and Selection

In [ ]:
print(modelxgb.feature_importances_) #use inbuilt class feature_importances of tree based classifiers

In [ ]:
col = df_train.columns[1:-1]
len(col)

In [ ]:
#plot graph of feature importances for better visualization
feat_importances = pd.Series(modelxgb.feature_importances_, index=col)
feat_importances.nlargest(15).plot(kind='barh')
plt.show()

#### Hyper Parameter Tuning

In [15]:
import xgboost as xgb
from xgboost.sklearn import XGBClassifier
from sklearn import metrics   #Additional scklearn functions
from sklearn.model_selection import GridSearchCV   #Perforing grid search
from matplotlib.pylab import rcParams
rcParams['figure.figsize'] = 12, 4

target = 'VAR21'
IDcol = 'VAR1'

In [16]:
train = df_train
train.head()

,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7,VAR8,VAR9,VAR10,...,VAR12,VAR13,VAR14,VAR15,VAR16,VAR17,VAR18,VAR19,VAR20,VAR21
0,1,828.235294,0.138889,321.428571,625.911006,1.818182,1.081550,198.113469,NaN,58.632548,...,100.083403,1.0,1,1.0,1.540594,NaN,1,0,100.104991,Low
1,2,911.764706,0.027778,NaN,611.574748,8.181818,1.344479,198.600020,22.086661,NaN,...,15.012510,NaN,1,NaN,1.614613,NaN,0,1,146.654045,High
2,3,962.352941,0.833333,35.714286,615.825381,8.181818,0.720796,197.267767,NaN,58.632548,...,210.175146,10.0,1,10.0,1.044599,NaN,0,0,98.249570,Medium
3,4,892.941177,NaN,NaN,638.076431,9.090909,0.820218,197.355744,4.363431,58.632548,...,NaN,NaN,1,NaN,1.145729,NaN,1,0,140.862306,Low
4,5,914.117647,0.083333,NaN,626.514988,5.181818,1.372928,198.790477,85.938202,58.632548,...,210.175146,NaN,NaN,NaN,1.558341,NaN,1,0,101.268503,High

In [17]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_yh = LabelEncoder()
#labelencoder_xh = LabelEncoder()
train.iloc[:,-1] = labelencoder_yh.fit_transform(train.iloc[:,-1].values)

In [18]:
train.head()

,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7,VAR8,VAR9,VAR10,...,VAR12,VAR13,VAR14,VAR15,VAR16,VAR17,VAR18,VAR19,VAR20,VAR21
0,1,828.235294,0.138889,321.428571,625.911006,1.818182,1.081550,198.113469,NaN,58.632548,...,100.083403,1.0,1,1.0,1.540594,NaN,1,0,100.104991,1
1,2,911.764706,0.027778,NaN,611.574748,8.181818,1.344479,198.600020,22.086661,NaN,...,15.012510,NaN,1,NaN,1.614613,NaN,0,1,146.654045,0
2,3,962.352941,0.833333,35.714286,615.825381,8.181818,0.720796,197.267767,NaN,58.632548,...,210.175146,10.0,1,10.0,1.044599,NaN,0,0,98.249570,2
3,4,892.941177,NaN,NaN,638.076431,9.090909,0.820218,197.355744,4.363431,58.632548,...,NaN,NaN,1,NaN,1.145729,NaN,1,0,140.862306,1
4,5,914.117647,0.083333,NaN,626.514988,5.181818,1.372928,198.790477,85.938202,58.632548,...,210.175146,NaN,NaN,NaN,1.558341,NaN,1,0,101.268503,0

In [19]:
def modelfit(alg, dtrain, predictors,useTrainCV=True, cv_folds=5, early_stopping_rounds=50):
    
    if useTrainCV:
        xgb_param = alg.get_xgb_params()
        xgb_param['num_class'] = 3
        xgtrain = xgb.DMatrix(dtrain[predictors].values, label=dtrain[target].values)
        cvresult = xgb.cv(xgb_param, xgtrain, num_boost_round=alg.get_params()['n_estimators'], nfold=cv_folds,
            metrics='merror', early_stopping_rounds=early_stopping_rounds)
        alg.set_params(n_estimators=cvresult.shape[0])
    
    #Fit the algorithm on the data
    alg.fit(dtrain[predictors], dtrain[target],eval_metric='auc')
        
    #Predict training set:
    dtrain_predictions = alg.predict(dtrain[predictors])
    dtrain_predprob = alg.predict_proba(dtrain[predictors])[:,1]
        
    #Print model report:
    print ("\nModel Report")
    print ("Accuracy : %.4g" % metrics.accuracy_score(dtrain[target].values, dtrain_predictions))
    #print ("AUC Score (Train): %f" % metrics.roc_auc_score(dtrain[target], dtrain_predprob))
    
    #feat_imp = pd.Series(alg.feature_importances_, index = predictors)
    feat_imp = pd.Series(alg.get_booster().get_fscore()).sort_values(ascending=False)
    feat_imp.plot(kind='bar', title='Feature Importances')
    plt.ylabel('Feature Importance Score')

In [20]:
#Choose all predictors except target & IDcols
predictors = [x for x in train.columns if x not in [target, IDcol]]

xgb1 = XGBClassifier(
 learning_rate =0.1,
 n_estimators=1000,
 max_depth=8,
 min_child_weight=2,
 gamma=0.3,
 subsample=0.8,
 colsample_bytree=0.8,
 objective= 'multi:softmax',
 nthread=4,
 scale_pos_weight=1,
 seed=27)

#predictors

In [ ]:
modelfit(xgb1, train, predictors)

#### Leaderboard Prediction (Tuned XGBoost)

In [ ]:
lead = df_lead
lead_predictors = [x for x in lead.columns if x not in [IDcol]]
#lead_predictors

In [ ]:
lead_predictions = xgb1.predict(lead[predictors])

In [ ]:
dlead = lead_predictions.tolist()
len(lead_key), len(dlead)

In [ ]:
dylead = labelencoder_yh.inverse_transform(lead_predictions)
dylead

In [ ]:
n_count_classes = pd.value_counts(dylead, sort = True)
n_count_classes.plot(kind = 'bar', rot=0)
plt.title("Credit Card limit")
#plt.xticks(range(2), LABELS)
plt.xlabel("Class")
plt.ylabel("Frequency")

In [ ]:
ddfxyz = pd.DataFrame(dylead,lead_key)
ddfxyz.head()

In [ ]:
ddfxyz.to_csv('Anonymous_IITRoorkee_16.csv',header=False)

#### Grid Search

#### Tune max_depth & min_child_weight

In [ ]:
param_test1 = {
 'max_depth':range(3,10,2),
 'min_child_weight':range(1,6,2)
}

gsearch1 = GridSearchCV(estimator = XGBClassifier( learning_rate =0.1, n_estimators=1000, max_depth=5,
 min_child_weight=1, gamma=0, subsample=0.8, colsample_bytree=0.8,
 objective= 'multi:softmax', nthread=4, scale_pos_weight=1, seed=27), 
 param_grid = param_test1, scoring='f1_micro', n_jobs=4,iid=False, cv=5)

gsearch1.fit(train[predictors],train[target])

In [ ]:
gsr = pd.DataFrame(gsearch1.cv_results_)
gsr

In [ ]:
gsearch1.best_params_, gsearch1.best_score_

In [ ]:
param_test2 = {
 'max_depth':[5,6,7],
 'min_child_weight':[1,2,3,4]
}

gsearch2 = GridSearchCV(estimator = XGBClassifier( learning_rate=0.1, n_estimators=1000, max_depth=5,
 min_child_weight=2, gamma=0, subsample=0.8, colsample_bytree=0.8,
 objective= 'multi:softmax', nthread=4, scale_pos_weight=1,seed=27), 
 param_grid = param_test2, scoring='f1_micro',n_jobs=4,iid=False, cv=5)

gsearch2.fit(train[predictors],train[target])

In [ ]:
gsr2 = pd.DataFrame(gsearch2.cv_results_)
gsr2.head()

In [ ]:
gsearch2.best_params_, gsearch2.best_score_

#### Tuning gamma

In [ ]:
param_test3 = {
 'gamma':[i/10.0 for i in range(0,5)]
}

gsearch3 = GridSearchCV(estimator = XGBClassifier( learning_rate =0.1, n_estimators=1000, max_depth=6,
 min_child_weight=2, gamma=0, subsample=0.8, colsample_bytree=0.8,
 objective= 'multi:softmax', nthread=4, scale_pos_weight=1,seed=27), 
 param_grid = param_test3, scoring='f1_micro',n_jobs=4,iid=False, cv=5)

gsearch3.fit(train[predictors],train[target])

In [ ]:
gsearch3.best_params_, gsearch3.best_score_

In [ ]:
gsr3 = pd.DataFrame(gsearch3.cv_results_)
gsr3.head()

In [ ]:
param_test4 = {
 'gamma':[0.22,0.25]
}

gsearch4 = GridSearchCV(estimator = XGBClassifier( learning_rate =0.1, n_estimators=1000, max_depth=6,
 min_child_weight=2, gamma=0.25, subsample=0.8, colsample_bytree=0.8,
 objective= 'multi:softmax', nthread=4, scale_pos_weight=1,seed=27), 
 param_grid = param_test4, scoring='f1_micro',n_jobs=4,iid=False, cv=5)

gsearch4.fit(train[predictors],train[target])

In [ ]:
gsearch4.best_params_, gsearch4.best_score_

#### Tune Learning Rate

In [ ]:
param_test5 = {
 'learning_rate':[0.1,0.09]
}

gsearch5 = GridSearchCV(estimator = XGBClassifier( learning_rate =0.1, n_estimators=1000, max_depth=6,
 min_child_weight=2, gamma=0.25, subsample=0.8, colsample_bytree=0.8,
 objective= 'multi:softmax', nthread=4, scale_pos_weight=1,seed=27), 
 param_grid = param_test5, scoring='f1_micro',n_jobs=4,iid=False, cv=5)

gsearch5.fit(train[predictors],train[target])

In [ ]:
gsearch5.best_params_, gsearch5.best_score_

#### Tune n_estimators

In [ ]:
param_test6 = {
 'subsample':[0.7,0.8,0.9],
 'colsample_bytree':[0.7,0.8,3,0.9]
}

gsearch6 = GridSearchCV(estimator = XGBClassifier( learning_rate=0.1, n_estimators=1000, max_depth=8,
 min_child_weight=2, gamma=0.3, subsample=0.8, colsample_bytree=0.8,
 objective= 'multi:softmax', nthread=4, scale_pos_weight=1,seed=27), 
 param_grid = param_test6, scoring='f1_micro',n_jobs=4,iid=False, cv=5)

gsearch6.fit(train[predictors],train[target])